
img{
    border-radius: 25%;
    height: 70%;
    width: 70%;
}

.card {

    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-12px);
}

.card-img-top{
    height: 250px;
    border-radius: 15px;
}

.card:hover .card-image {
    opacity: 2;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
    margin-bottom: 20px;
}



